<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login_signup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bidder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login_Signup">
        <activity
            android:name=".selectCrypto"
            android:exported="false" />
        <activity
            android:name=".availableAuctions"
            android:exported="false" />
        <activity
            android:name=".biddingPage"
            android:exported="false" />
        <activity
            android:name=".singleAuction"
            android:exported="false" />
        <activity
            android:name=".select_crypto"
            android:exported="false" />
        <activity
            android:name=".GetStarted"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".createAuction"
            android:exported="false" />
        <activity
            android:name=".viewAuction"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>